<p>page-crud works!</p>
<app-page-title [title]="title"></app-page-title>
<ng-content></ng-content>
<hr/>
<button>Novo</button>
<hr/>
<app-page-crud-filter (filter)="filterApply($event)"></app-page-crud-filter>
<app-page-crud-list #list
  [columns]="columns"
  [dataSource]="dataSource"
  [filter]="filterParam"
  [actions]="gridActions"
  [actionsLabel]="actionsLabel"
  [showMore]="showMore"
  [loadMoreLabel]="loadMoreLabel"
  [actionsTemplate]="actionsTemplate"
  (loadMore)="more()"
  ></app-page-crud-list>
