<h3>Table</h3>
<table>
  <thead>
    <th *ngFor="let c of crudList?.columns">
      {{c.label}}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let r of crudList?.dataView | async">
      <td *ngFor="let c of crudList?.columns">
        <span [title]="c.getHint()" *ngIf="!c.image64 && !c.islink">{{c.value(r)}}&nbsp;</span>
        <img *ngIf="c.image64 && !c.islink" [src]="c.value(r)">
        <a [title]="c.getHint()" [href]="c.getLink(r)" *ngIf="c.islink">
          <img *ngIf="c.image64" [src]="c.value(r)">
          <span *ngIf="!c.image64">{{c.value(r)}}</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<hr/>
<ul>
  <li *ngFor="let r of crudList?.dataView | async">
    {{r.ano}}-{{r.marca}}-{{r.modelo}}-{{r.placa}}---{{r.data}}
  </li>
  <hr/>
</ul>
